@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
  padding:50px;
  font:18px/1.5 "Source Sans Pro", "DejaVu Sans", sans-serif;
  color:#000000;
  background-color: #FbFdFF;
  font-weight:400;
}

ac {
  font-variant: small-caps;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: inherit;
}

h3 {
  font-weight: inherit;
  font-size: inherit;
  font-variant: small-caps;
}

h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: 18px;
}

a:hover {outline: 0;}
a:active {color: #0000ff; underline; outline: 0;}
a:visited {color: #800080; underline; outline: 0;}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

code, pre {
  font-family:"Source Code Pro", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", mono;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  font-weight:700;
}

img {
  max-width:100%;
}

/* header { */
/*   width:270px; */
/*   float:left; */
/*   position:fixed; */
/* } */

header ul {
  list-style:none;
  padding:0;
}

strong {
  color:#000000;
  font-weight:700;
}

section {
  width:600px;
  padding-bottom:50px;
}

small {
  font-size:14px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

@media print, screen and (max-width: 960px) {
  
  div.wrapper {
    width:auto;
    margin:0;
  }
  
  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }
  
  header {
    padding-right:320px;
  }
  
  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }
  
  header a small {
    display:inline;
  }
  
  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
  
  header {
    padding:0;
  }
  
  header ul, header p.view {
    position:static;
  }
  
  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
  
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#000000;
  }
}
