<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <title>{{ page.title }}</title>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <section>
	<h1>{{ page.title }}</h1>
	<a href="/">Home</a>
	· <a href="/blog">News</a>
	· <a href="/links">Links</a>
	<hr>

	{{ content }}
	{% if page.date and page.author %}
	<hr>
	<p>{{ page.author }}, {{ page.date | date: "%d %b %Y" }}</p>
	{% endif %}
      </section>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
  </body>
</html>
